.container {
  //display: grid;
  //grid-template-columns: 1fr 1fr;
  //grid-template-rows: min-content min-content min-content;
  //column-gap: 19.5%;
  width: 61.1%;
  min-width: 880px;
  min-height: 825px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 240px;

  word-break: break-word;

  color: $basic-white;

  @media (max-width: $tablet-width-only) {
    min-height: 390px;
    display: block;
    width: 100%;
    min-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
