.page-main__facts {
  width: 100%;
  padding: 150px 0;

  @media (max-width: $tablet-width-only) {
    padding: 70px 13.8% 30px;
  }

  @media (max-width: $mobile-width-only) {
    padding: 70px 4.68% 85px;
  }
}

.page-main__types {
  padding-top: 150px;
  padding-bottom: 145px;

  @media (max-width: $tablet-width-only) {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 50px;
    padding-bottom: 53px;
  }
}

.page-main__media {
  padding-top: 120px;

  @media (max-width: $tablet-width-only) {
    padding-top: 70px;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 85px;
    padding-right: 5%;
    padding-left: 5%;
  }
}

.page-main__contacts {
  padding-top: 250px;
  padding-right: 16.7%;
  padding-bottom: 95px;
  padding-left: 16.7%;

  background-color: $basic-white;

  @media (max-width: $tablet-width-only) {
    padding-top: 155px;
    padding-right: 4.56%;
    padding-bottom: 50px;
    padding-left: 4.56%;
  }

  @media (max-width: $mobile-width-only) {
    padding-top: 120px;
    padding-right: 0;
    padding-left: 0;
  }
}
