// colors

$basic-white: #ffffff;
$basic-grey: #f6f7f9;
$dark-grey: #48494d;
$basic-dark: #131314;
$basic-black: #000000;

$accent-blue: #0ad9c6;
$accent-dark: #1f1f1f;

// breakpoints

$tablet-width-only: 1023px;
$mobile-width-only: 767px;
